<!DOCTYPE html>
<html>
<head>
  <title>Mon état des lieux</title>
  <link rel="icon" type="image/png" href="../img/favicon.png" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

<%= render 'layouts/header' %>

<%= render 'layouts/sidebar' %>


<%= yield %>


</body>
</html>
